<div class="container-fluid page">
    <div class="row">
        <div class="d-flex page__box p-3 mt-2">Item
            <a [routerLink]="['/dashboard']" style="margin-left:90%;">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <p *ngIf="!empList"><em>Loading...</em></p> -->
        <p>
            <a [routerLink]="['/ItemAdd']">
                <mat-icon>add_box</mat-icon>
            </a>
        </p>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <!-- <th>EmployeeId</th> -->
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Status</th>
                    <!-- <th>City</th> -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>