<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form>
                    <div class="form-group col-md-6">
                        <label for="username">Username</label>
                        <input type="text" id="userName" class="form-control" />

                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" id="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" type="submit" (click)="check()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="cancel()">Register</button>
                    </div>
                </form>
                <span>{{ msg }}</span>
            </div>
        </div>
    </div>
</div>