<div class="container-fluid page">
    <div class="row">
        <div class="d-flex page__box p-3 mt-2">Dashboard
            <!-- <button class="btn btn-danger" style="margin-left:80%;" (click)="cancel()">Cancel</button> -->
            <a [routerLink]="['/home']" style="margin-left:85%;">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <app-fetch-employee></app-fetch-employee> -->
        <div class="row">
            <div class="card col-md-4">
                <div class="card-header">Featured</div>
                <div class="card-body">
                    <h5 class="card-title">Employee details</h5>
                    <p class="card-text">
                        Add<br>
                        Update<br>
                        Delete
                    </p>
                    <a href="#" class="btn btn-primary" routerLink="/fetch-employee">Button</a>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Featured</div>
                <div class="card-body">
                    <h5 class="card-title">Item Details</h5>
                    <p class="card-text">
                        Add<br>
                        Update<br>
                        Delete
                    </p>
                    <a href="#" class="btn btn-primary" routerLink="/ItemDetails">Button</a>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Featured</div>
                <div class="card-body">
                    <h5 class="card-title">Categories Details</h5>
                    <p class="card-text">
                        Add<br>
                        Update<br>
                        Delete
                    </p>
                    <a href="#" class="btn btn-primary" routerLink="/CategoryDetails">Button</a>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-4">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="chart-wrapper">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>