<div class="container-fluid page">
    <div class="row">
        <div class="d-flex page__box p-3 mt-2">Categories
            <a [routerLink]="['/dashboard']" style="margin-left:83%;">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <p *ngIf="!recipeList"><em>Loading...</em></p>
        <p>
            <a [routerLink]="['/RecipeAdd']">
                <mat-icon>add_box</mat-icon>
            </a>
        </p>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>RecipeCategory Id</th>
                    <th>RecipeCategory Code</th>
                    <th>RecipeCategory Name</th>
                    <th>Recipe Code</th>
                    <th>Recipe Name</th>
                    <th>Recipe Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipeList">
                    <td>{{ recipe.recipeCategoryId }}</td>
                    <td>{{ recipe.recipeCategoryCode }}</td>
                    <td>{{ recipe.recipeCategoryName }}</td>
                    <td>{{ recipe.recipeCode }}</td>
                    <td>{{ recipe.recipeName }}</td>
                    <td>{{ recipe.recipeImage }}</td>
                    <td>
                        <a [routerLink]="['/recipe/edit/', recipe.recipeCategoryId]">Edit</a> |
                        <a [routerLink]="[]" (click)="delete(recipe.recipeCategoryId)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>