<div class="container-fluid page">
    <div class="row">
        <div class="d-flex page__box p-3 mt-2">Categories
            <a [routerLink]="['/dashboard']" style="margin-left:83%;">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <p *ngIf="!catList"><em>Loading...</em></p>
        <p>
            <a [routerLink]="['/CategoryAdd']">
                <mat-icon>add_box</mat-icon>
            </a>
        </p>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>CategoryID</th>
                    <th>CategoryCode</th>
                    <th>CategoryName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of catList">
                    <td>{{ cat.categoryId }}</td>
                    <td>{{ cat.categoryCode }}</td>
                    <td>{{ cat.categoryName }}</td>
                    <td>
                        <a [routerLink]="['/category/edit/', cat.categoryId]">Edit</a> |
                        <a [routerLink]="" (click)="delete(cat.categoryId)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>